<div class="series-header">
    <h3 class="series-title"> Series Name </h3>
    <div class="btn-blog">
        <button>Follow This Category</button> 
    </div>
</div>
<div class="row card-series">
    <div class="col-md-7 padding-0">
        <div class="card">
            <img class="card-img-top" src="https://dummyimage.com/653x380/c7c7c7/000.png" alt="Card image cap">
            <div class="card-block p-3">
                <p><strong class="card-title">ทำไมคนจึงจดจำแบรนด์ ?</strong></p>
                <p>เพราะแบรนด์เป็นสิ่งสำคัญคนจึงต้องจดจำ</p>
                <span class="tag-time">05:20</span>
                <span class="tag-view">15 DEC 2560 | 9,500 VIEWS</span>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="row card-two">
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="https://dummyimage.com/350x250/c7c7c7/000.png" alt="Card image cap">
                    <div class="card-block p-3">
                        <p><strong class="card-title">ทำไมคนจึงจดจำแบรนด์ ?</strong></p>
                        <p>เพราะแบรนด์เป็นสิ่งสำคัญคนจึงต้องจดจำ</p>
                        <span class="tag-time">05:20</span>
                        <span class="tag-view">15 DEC 2560 | 9,500 VIEWS</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="https://dummyimage.com/350x250/c7c7c7/000.png" alt="Card image cap">
                    <div class="card-block p-3">
                        <p><strong class="card-title">ทำไมคนจึงจดจำแบรนด์ ?</strong></p>
                        <p>เพราะแบรนด์เป็นสิ่งสำคัญคนจึงต้องจดจำ</p>
                        <span class="tag-time">05:20</span>
                        <span class="tag-view">15 DEC 2560 | 9,500 VIEWS</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="https://dummyimage.com/350x250/c7c7c7/000.png" alt="Card image cap">
                    <div class="card-block p-3">
                        <p><strong class="card-title">ทำไมคนจึงจดจำแบรนด์ ?</strong></p>
                        <p>เพราะแบรนด์เป็นสิ่งสำคัญคนจึงต้องจดจำ</p>
                        <span class="tag-time">05:20</span>
                        <span class="tag-view">15 DEC 2560 | 9,500 VIEWS</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="https://dummyimage.com/350x250/c7c7c7/000.png" alt="Card image cap">
                    <div class="card-block p-3">
                        <p><strong class="card-title">ทำไมคนจึงจดจำแบรนด์ ?</strong></p>
                        <p>เพราะแบรนด์เป็นสิ่งสำคัญคนจึงต้องจดจำ</p>
                        <span class="tag-time">05:20</span>
                        <span class="tag-view">15 DEC 2560 | 9,500 VIEWS</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<hr>