.bg-dark {
    background-color: #c6c7c9!important;
}
.header-title{
    font-family: MS Sans Serif;
    font-weight: bold;
    text-align: center;
}
.header-title img{
    max-width: 100%;
    max-height: 32px;
}
.top-header{
    display: block;
    width: 100%;
    color:#444444;
    padding-top:10px;
    position: relative;
    padding-bottom:20px;
    border-bottom:1px solid #ccc;
    margin-bottom:20px;
}
.top-header a,
.top-header a:hover{
    color:#444444;
    text-decoration: none;
}

.top-search.navbar-light .navbar-toggler {
    border:0;
}

.top-search.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,0);
}

.top-search input[type="text"]{
    border:none;
    font-family: supermarketregular;
    font-size: 18px;    
}
.agent-user{
    list-style: none;
    display: inline;
    position: relative;

}


.agent-user li
{
    float: left;
    font-size: 20px;
    padding:0 8px;
    font-family: supermarketregular;
    
}
.agent-user li,
.agent-user li a,
.agent-user li a:hover{
    color:#94989b;
}

.agent-user li i{
    color:#818181;
}
/*:: menu */
.nav-menu{
    background:transparent;
    margin-bottom:20px;
    position: relative;
}
.top-menu{
    width:100%;
}

.top-menu .nav-item{
    padding:0 40px;
}

.top-menu .nav-item a{
    color:#4d4d4d;
    padding:10px 8px 4px 10px;
    font-size: 13px;
    line-height: 1.1;
    font-family: 'lemonmilk_lightregular';
}

.top-menu .nav-item.active a,
.top-menu .nav-item:hover a{
    border:1px solid #e0e0e0; 
    border-radius: 4px;
    color:#444;
    width:auto;
    display:inline-block;
}

