
<!-- Navigation -->
        <div class="container top-header">
            <div class="row">
                <div class="col-sm-4">
                    <div class="top-search navbar navbar-toggleable-md navbar-light pt-0">
                            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                    </div>
                </div>
                <div class="col-sm-4 header-title"><img src="assets/images/logo.png" alt="LOCALRY" /></div>
                <div class="col-sm-4 text-right">
                    <ul class="agent-user pull-right">
                        <li><i class="fa fa-user-circle fa-lg"></i></li>
                    </ul>
                </div>
            </div>
        </div>     
        <nav class="navbar navbar-expand-md navbar-dark padding-0 nav-menu">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarsExampleDefault">
              <ul class="navbar-nav top-menu">
                  <li class="nav-item active">
                      <a class="nav-link" href="#" [routerLink]="['/sprint-1']">FEATURE VIDEO</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#" [routerLink]="['/sprint-2']">FASION & BEAUTY</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#" [routerLink]="['/sprint-3']">FOOD</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#" [routerLink]="['/sprint-4']">TRAVEL</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">MUSIC</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">PEOPLE</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
<!-- Navigation -->
