<app-header></app-header>
<router-outlet></router-outlet>

  <!-- Footer -->
  <footer class="footer">    
          <!-- Footer Links -->
          <hr/>
          <div class="container pt-5 pb-2">
              <div class="row">
                  <div class="col-md-3 footer-logo">
                      <img src="assets/images/logo-white.png" alt="LOCALRY"/>
                  </div>
    
                  <div class="col-md-3">
                    <p><a href="#" class="">ทำไมต้อง Localry?</a></p>
                      <p><a href="#" class="">เกี่ยวกับเรา</a></p>
                      <p><a href="#" class="">ติดต่อเรา</a></p>
                      <p><a href="#" class="">พันธมิตร</a></p>
                      <p><a href="#" class="">ร่วมงานกับเรา</a></p>
                  </div>
    
                  <div class="col-md-3">
                      <p><a href="#" class="">ค้นหาข้อมูล</a></p>
                      <p><a href="#" class="">สมัครสมาชิก</a></p>
                      <p><a href="#" class="">เข้าสู่ระบบสมาชิก</a></p>
                      <p><a href="#" class="">นโยบายการใช้งาน</a></p>
                      <p><a href="#" class="">ข้อมูลและความเป็นส่วนตัว</a></p>
                  </div>
    
                  <div class="col-md-3">
                      <p>รับเรื่องราวดี ๆ จาก LOCALRY</p>
                      <p>สดใหม่ๆ ทุกสัปดาห์ เริ่มต้นง่ายๆ ด้วย</p>
                      <p>บัญชีเฟสบุ๊คของคุณ</p>
                       <button class="subscribe">Subscribe via Facebook</button>
                      
                  </div>
              </div>
          </div>
          <!-- Footer Links-->
        
          <!-- Copyright-->
          <div class="container-fluid">
              <p class="text-center m-0 py-1 all-aright">
                  2016 All Rights & Reserved localry.com
              </p>
          </div>
          <!-- Copyright -->
    
      </footer>
      <!-- Footer -->