<!-- Carousel Slider -->
<div class="container">
  <carousel>
      <slide>   
            <img class="d-block img-fluid" src="assets/images/slider-1.jpg" alt="First slide">
            <!--             
            <div class="carousel-caption d-none d-md-block">
              <h3>Third slide label 1</h3>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div> 
            -->
      </slide>
  </carousel>
<!-- Carousel Slider -->
  <br/>
    <div class="row recent-viewed">
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="assets/images/ex-1/cou-01.png" alt="Card image cap">
                <div class="card-block p-3">
                    <strong class="card-title">อนาคตการท่องเที่ยวไทย</strong>
                    <span class="tag-time">05:20</span>
                    
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="assets/images/ex-1/cou-02.png" alt="Card image cap">
                <div class="card-block p-3">
                    <strong class="card-title">อนาคตการท่องเที่ยวไทย</strong>
                    <span class="tag-time">05:20</span>
                    
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="assets/images/ex-1/cou-03.png" alt="Card image cap">
                <div class="card-block p-3">
                    <strong class="card-title">อนาคตการท่องเที่ยวไทย</strong>
                    <span class="tag-time">05:20</span>
                    
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="assets/images/ex-1/cou-04.png" alt="Card image cap">
                <div class="card-block p-3">
                    <strong class="card-title">อนาคตการท่องเที่ยวไทย</strong>
                    <span class="tag-time">05:20</span>
                    
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="assets/images/ex-1/cou-05.png" alt="Card image cap">
                <div class="card-block p-3">
                    <strong class="card-title">อนาคตการท่องเที่ยวไทย</strong>
                    <span class="tag-time">05:20</span>
                    
                </div>
            </div>
        </div>
    
    </div>

<!-- Fashion & Beaty -->
<div class="container container mt-4 mb-5 padding-0">
  <h3 class="cate-title text-center"> <span>FASHION & BEAUTY</span></h3>
  <div class="row">
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="assets/images/ex/ex_03.png" alt="Card image cap">
            <div class="card-block p-3">
                <strong class="card-title">อนาคตการท่องเที่ยวไทย</strong>
                <span class="tag-time">05:20</span>
                
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="assets/images/ex/ex_05.png" alt="Card image cap">
            <div class="card-block p-3">
                <strong class="card-title">อนาคตการท่องเที่ยวไทย</strong>
                <span class="tag-time">05:20</span>
                
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="assets/images/ex/ex_07.png" alt="Card image cap">
            <div class="card-block p-3">
                <strong class="card-title">อนาคตการท่องเที่ยวไทย</strong>
                <span class="tag-time">05:20</span>
                
            </div>
        </div>
    </div>
</div>
</div>
<!-- /Fasion & Beauty --> 
<!-- Food -->
<div class="container container mt-4 mb-5 padding-0">
<h3 class="cate-title text-center">
    <span>Food</span>
</h3>
  <div class="row">
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="assets/images/ex/ex_09.png" alt="Card image cap">
            <div class="card-block p-3">
                <strong class="card-title">อนาคตการท่องเที่ยวไทย</strong>
                <span class="tag-time">05:20</span>
                
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="assets/images/ex/ex_10.png" alt="Card image cap">
            <div class="card-block p-3">
                <strong class="card-title">อนาคตการท่องเที่ยวไทย</strong>
                <span class="tag-time">05:20</span>
                
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="assets/images/ex/ex_11.png" alt="Card image cap">
            <div class="card-block p-3">
                <strong class="card-title">อนาคตการท่องเที่ยวไทย</strong>
                <span class="tag-time">05:20</span>
                
            </div>
        </div>
    </div>
</div>
</div>
<!-- /Food -->
<!-- Travel -->
<div class="container container mt-4 mb-5 padding-0">
<h3 class="cate-title text-center">
    <span>TRAVEL</span>
</h3>  
  <div class="row">
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="assets/images/ex/ex_12.png" alt="Card image cap">
            <div class="card-block p-3">
                <strong class="card-title">อนาคตการท่องเที่ยวไทย</strong>
                <span class="tag-time">05:20</span>
                
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="assets/images/ex/ex_13.png" alt="Card image cap">
            <div class="card-block p-3">
                <strong class="card-title">อนาคตการท่องเที่ยวไทย</strong>
                <span class="tag-time">05:20</span>
                
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="assets/images/ex/ex_14.png" alt="Card image cap">
            <div class="card-block p-3">
                <strong class="card-title">อนาคตการท่องเที่ยวไทย</strong>
                <span class="tag-time">05:20</span>
                
            </div>
        </div>
    </div>
</div>
</div>
<!-- /Travel -->
<!-- Music -->
<div class="container container mt-4 mb-5 padding-0">
<h3 class="cate-title text-center">
    <span>MUSIC</span>
</h3>  
  <div class="row">
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="assets/images/ex/ex_15.png" alt="Card image cap">
            <div class="card-block p-3">
                <strong class="card-title">อนาคตการท่องเที่ยวไทย</strong>
                <span class="tag-time">05:20</span>
                
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="assets/images/ex/ex_16.png" alt="Card image cap">
            <div class="card-block p-3">
                <strong class="card-title">อนาคตการท่องเที่ยวไทย</strong>
                <span class="tag-time">05:20</span>
                
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="assets/images/ex/ex_17.png" alt="Card image cap">
            <div class="card-block p-3">
                <strong class="card-title">อนาคตการท่องเที่ยวไทย</strong>
                <span class="tag-time">05:20</span>
                
            </div>
        </div>
    </div>
</div>
</div>
<!-- /MUSIC -->
<!-- PEOPLE -->
<div class="container container mt-4 mb-5 padding-0">
    <h3 class="cate-title text-center">
        <span>PEOPLE</span>
    </h3>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/images/ex/ex_18.png" alt="Card image cap">
                <div class="card-block p-3">
                    <strong class="card-title">อนาคตการท่องเที่ยวไทย</strong>
                    <span class="tag-time">05:20</span>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/images/ex/ex_19.png" alt="Card image cap">
                <div class="card-block p-3">
                    <strong class="card-title">อนาคตการท่องเที่ยวไทย</strong>
                    <span class="tag-time">05:20</span>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/images/ex/ex_20.png" alt="Card image cap">
                <div class="card-block p-3">
                    <strong class="card-title">อนาคตการท่องเที่ยวไทย</strong>
                    <span class="tag-time">05:20</span>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- /PEOELE -->

</div>